* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

.img-circle {
  border-radius: 50%;
}

.small-img {
  height: 50px;
  padding: 10px;
}

.large-img {
  height: 80px;
  padding: 10px;
}

.register-form {
  max-width: 400px;
  min-width: 400px;
}

#outer-wrapper {
  height: 100%;
}

#list-wrapper {
  height: 100%;
}

#info-panel {
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #5BA02D;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#info-panel .name-title {
  color: white;
  cursor: default;
}

#list-panel {
  overflow-y: scroll;
}
