<div id="list-wrapper" layout="column">

  <md-toolbar id="info-panel" layout="row" layout-align="start center">
    <img class="img-circle large-img" ng-src="{{userProfile.avatar}}"/>

    <h3 class="md-headline name-title">{{userProfile.firstName}} {{userProfile.lastName}}</h3>
  </md-toolbar>

    <md-list id="progress-panel" style="display:none;">
        <md-list-item ng-repeat="send in sendQueue" ng-click="closeProgress(send)">
            <div flex>
                Sending {{send.name}} {{send.currentSize / 1024 | number: 0}} out of {{send.size / 1024 | number: 0}} kb to {{send.user.firstName}}
                <md-progress-linear md-mode="determinate" value="{{send.percentage}}"></md-progress-linear>
            </div>
        </md-list-item>
        <md-list-item ng-repeat="receive in receiveQueue" ng-click="closeProgress(receive)">
            <div flex>
                Receiving {{receive.name}} {{receive.currentSize / 1024 | number: 0}} out of {{receive.size / 1024 | number: 0}} kb from {{receive.user.firstName}}</p>
                <md-progress-linear md-mode="determinate" value="{{receive.percentage}}"></md-progress-linear>
            </div>
        </md-list-item>
    </md-list>

  <md-content flex>
      <md-list>
        <md-subheader>connected users</md-subheader>
        <md-list-item ng-repeat="user in users" class="nohand" ng-click="clickPerson(user, $event)">
          <img class="md-avatar md-whiteframe-1dp" ng-src="{{user.avatar}}"/>

          <p>{{user.firstName}} {{user.lastName}}</p>
        </md-list-item>
      </md-list>
  </md-content>

</div>
