<div id="list-wrapper" layout="column">

  <md-toolbar id="info-panel" layout="row" layout-align="start center">
    <img class="img-circle large-img" ng-src="{{userProfile.avatar}}"/>

    <h3 class="md-headline name-title">{{userProfile.firstName}} {{userProfile.lastName}}</h3>
  </md-toolbar>

    <md-list id="progress-panel" style="display:none;">
        <md-list-item ng-repeat="send in sendQueue" ng-click="closeSendProgress(send)">
            <div flex>
                Sending {{send.name}} {{bytesToSize(send.currentSize)}} out of {{bytesToSize(send.size)}} ({{bytesToSize(send.transferRate)}}/s) to {{send.user.firstName}} {{send.percentage == 100 ? 'completed' : ''}}
                <md-progress-linear md-mode="determinate" value="{{send.percentage}}"></md-progress-linear>
            </div>
        </md-list-item>
        <md-list-item ng-repeat="receive in receiveQueue" ng-click="closeReceiveProgress(receive)">
            <div flex>
                Receiving {{receive.name}} {{bytesToSize(receive.currentSize)}} out of {{bytesToSize(receive.size)}} ({{bytesToSize(receive.transferRate)}}/s) from {{receive.user.firstName}} {{receive.percentage == 100 ? 'completed' : ''}}
                <md-progress-linear md-mode="determinate" value="{{receive.percentage}}"></md-progress-linear>
            </div>
        </md-list-item>
    </md-list>

  <md-content flex>
      <md-list>
        <md-subheader>connected users</md-subheader>
        <md-list-item ng-repeat="user in users" class="nohand" ng-click="clickPerson(user, $event)" drag-and-drop>
          <img class="md-avatar md-whiteframe-2dp" ng-src="{{user.profile.avatar}}"/>

          <p>{{user.profile.firstName}} {{user.profile.lastName}}</p>
        </md-list-item>
      </md-list>
  </md-content>

</div>
