<div id="list-wrapper" layout="column">

  <md-toolbar id="info-panel" layout="row" layout-align="start center">
    <img class="img-circle large-img" ng-src="{{userProfile.avatar}}"/>

    <h3 class="md-headline name-title">{{userProfile.firstName}} {{userProfile.lastName}}</h3>
  </md-toolbar>

  <md-content flex>
    <div id="list-panel" layout="column" class="nano-content" flex>
      <md-list>
        <md-subheader>connected users</md-subheader>
        <md-list-item ng-repeat="user in users" class="nohand" ng-click="clickPerson(user, $event)">
          <img class="md-avatar md-whiteframe-1dp" ng-src="{{user.avatar}}"/>

          <p>{{user.firstName}} {{user.lastName}}</p>
        </md-list-item>
      </md-list>
    </div>
  </md-content>

  <script type="text/javascript">
    $(".nano").nanoScroller();
  </script>
</div>
